@use "@scss/global" as *;

//============================================
//  MARGIN UTILITY
//============================================

// ex. class="u-margin" data-margin-top="sp:10"
//--------------------------------------------
$marginList: 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60;

.u-margin {
  @each $device, $breakpoint in $breakpoints {
    @media screen and (min-width: $breakpoint) {
      @each $margin in $marginList {
        &[data-margin-top~="#{$device}:#{$margin}"] {
          margin-top: #{$margin}px;
        }
        &[data-margin-bottom~="#{$device}:#{$margin}"] {
          margin-bottom: #{$margin}px;
        }
      }
    }
  }
}
